language: android

jdk:
    - oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-23.0.3
    - android-24
    - extra-android-m2repository
    - extra-google-google_play_services
    - extra-google-m2repository