language: android

jdk:
    - oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-29.0.2
    - android-29
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
